html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.linkedin{
    padding-top: 2px;
}

.text {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.name {
    font-weight: 600;
    font-size: 96px;
}

.email {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
}

.about {
    font-weight: 400;
    font-size: 18px;
}

.container {
    
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
    width: 1200px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0); /* cursed, dont touch */
}

.top-container-container {
    border: 1px solid rgba(0, 0, 0, 0); /* cursed, dont touch */
    height: auto;
    width: 60%;
}

.buttons {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.about-animation {
    animation-name: disappear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.none {
    display: none;
}

.appear-animation {
    animation-name: appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.st0 {
    fill: none;
    stroke: black;
    stroke-width: 24px;
    stroke-linecap: round;
}

.d1 {
    stroke-dasharray: 215.527px;
    stroke-dashoffset: 215.527px;
    animation: dash 0.125s linear forwards;
}

.d2 {
    stroke-dasharray: 427.726px;
    stroke-dashoffset: 427.726px;
    animation: dash 0.25s linear forwards;
    animation-delay: 0.125s;
}

.a1 {
    stroke-dasharray: 220.249px;
    stroke-dashoffset: 220.249px;
    animation: dash 0.25s linear forwards;
    animation-delay: 0.375s;
}

.n1 {
    stroke-dasharray: 240.077px;
    stroke-dashoffset: 240.077px;
    animation: dash 0.25s linear forwards;
    animation-delay: 0.625s;
}

.n2 {
    stroke-dasharray: 242.017px;
    stroke-dashoffset: 242.017px;
    animation: dash 0.25s linear forwards;
    animation-delay: 0.875s;
}

.y_1 {
    stroke-dasharray: 465.897px;
    stroke-dashoffset: 465.897px;
    animation: dash 0.25s linear forwards;
    animation-delay: 1.125s;
}

.Y1 {
    stroke-dasharray: 216.449px;
    stroke-dashoffset: 216.449px;
    animation: dash 0.25s linear forwards;
    animation-delay: 1.375s;
}

.Y2 {
    stroke-dasharray: 113.301px;
    stroke-dashoffset: 113.301px;
    animation: dash 0.125s linear forwards;
    animation-delay: 1.625s;
}

.u1 {
    stroke-dasharray: 192.68px;
    stroke-dashoffset: 192.68px;
    animation: dash 0.25s linear forwards;
    animation-delay: 1.75s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.sig {
    margin-bottom: 60px;
}

.main {
    opacity: 0;
    animation: appear 0.5s linear forwards;
    animation-delay: 2s;
}

.button-link:hover {
    fill: grey;
}

.about-container{
    display: flex;
    position:relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 900px;
}

.about-text{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.h-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.mb {
    margin-bottom: 30px;
}

.h-text-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15%;
}

.arrow {
    position: absolute;
    top: 90%;
    left: 49.75%;
    width: 36px;
    height: 36px;
    margin-left: -12px;
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

.arrow-two {
    top: 190%;
}
  
.arrow:hover {
    opacity: .5;
}

h1{
    position: relative;
    margin-bottom: 45px;
    font-family: 'Oswald', sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    color: #424242;
  }
  
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
  }

  .item:hover {
    flex: 7;
  }
  
  .item-1 { 
    background-image: url('https://images.unsplash.com/photo-1499198116522-4a6235013d63?auto=format&fit=crop&w=1233&q=80');
  }
  
  .item-2 { 
    background-image: url('https://images.unsplash.com/photo-1492760864391-753aaae87234?auto=format&fit=crop&w=1336&q=80');
  }
  
  .item-3 { 
    background-image: url('https://images.unsplash.com/photo-1503631285924-e1544dce8b28?auto=format&fit=crop&w=1234&q=80');
  }
  
  .item-4 { 
    background-image: url('https://images.unsplash.com/photo-1510425463958-dcced28da480?auto=format&fit=crop&w=1352&q=80');
  }
  
  .item-5 { 
    background-image: url('https://images.unsplash.com/photo-1503602642458-232111445657?auto=format&fit=crop&w=1234&q=80');
  }

  .portfolio-container{
    height: 100vh;
    padding: 75px 0;
    margin: 0 auto;
    width: 1140px;
  }